body{
    background-color: #f0f3f8;
}

.container{
    background-color: #fff;
    border-color: #4a8ee3;
    border-width: 2px;
    border-style: solid;
    width: 60%;
    margin: auto;
    height: 800px;
    padding: 40px;
    box-shadow: 3px 3px 7px #b6b5bd;
}

/* Element One */

.element-one{
    border-bottom: 3px solid #bd7674 ;
    height: 125px;
    
}

.element-one h1{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-weight: bolder;
    font-size: 100px;
}

/* Element Three */

.element-two{
    border-left: 10px solid #3a96d9 ;
    height: 125px;
    height: 210px;
    margin-top: 20px;
    background-color: #e9f4f8;
    
    
}

.element-two p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 45px;
    padding: 18px;
    line-height: 53px;
 
}

/* Element Three */
.element-three{
    border-right: 10px solid #3a96d9 ;
    height: 125px;
    height: 136px;
    margin-top: 20px;
    background-color: #e9f4f8;
    
    
}

.element-three p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 38px;
    padding: 15px;
    line-height: 53px;
 
}